[submodule ".registry"]
	path = .registry
	url = https://github.com/retostauffer/retostauffer.r-universe.dev
	branch = HEAD
[submodule "annex"]
	path = annex
	url = https://github.com/IEA-EBC-Annex86/annex
[submodule "foehnix"]
	path = foehnix
	url = https://codeberg.org/retostauffer/foehnix
[submodule "forgescraper"]
	path = forgescraper
	url = http://codeberg.org/retostauffer/forgescraper
[submodule "gsdata"]
	path = gsdata
	url = https://codeberg.org/retostauffer/gsdata
[submodule "msdata"]
	path = msdata
	url = http://codeberg.org/retostauffer/msdata
[submodule "swissgeo.core"]
	path = swissgeo.core
	url = http://codeberg.org/retostauffer/swissgeo.core
[submodule "topmodels"]
	path = topmodels
	url = https://github.com/r-forge/topmodels
	subdir = pkg/topmodels
[submodule "transitreg"]
	path = transitreg
	url = https://github.com/retostauffer/transitreg
